
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let item of restaurantList">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.category}} - {{item.description}}</p>
          <a (click)="deleteRestaurant(item._id!)" class="btn btn-danger">Delete</a>
          <a [routerLink]="['/restaurant/edit/',item._id!]" routerLinkActive="router-link-active"  class="btn btn-info">Edit</a>
        </div>
      </div>
</div>